.card {
    flex-shrink: 0;
    position: relative;
    box-sizing: border-box;
    overflow: hidden; 
}

.card:hover {
    border: 2px solid white;
    border-radius: 0.8rem;
    transition: border-color 0.s ease;
}

.card:hover .card-wallpaper {
    transform: translateX(calc(-50% + 10px));
}

.card-background {
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
}

.card-wallpaper {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    border-radius: 0.8rem;
    transition: transform 0.3s ease;
}
